// Body
$enable-gradients: true;
$body-bg: #19181F;

/* redefine theme colors for dark theme */
$primary: #05335c;
$dark: #000;

// Typography
$font-family-sans-serif: "Jost", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-rounded: false;
//remove shadow
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$form-select-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$border-color: rgba(255,255,255,0.07);
$input-border-color: rgba(255,255,255,0.07);
