
    <table style="background-color: rgb(248, 242, 231); width: 100%; border-collapse: collapse; border: 1px dotted #ccc; border-top-width: 0;">
       
        <tr>
            <td style="background-color: #031364; writing-mode: vertical-rl;
            text-orientation: mixed; text-align: center; letter-spacing: 1.2px; color: white;">
                #1000
            </td>
            <th style="border-right: 1px dotted #ccc; padding: 10px;">
                <strong style="font-size: 25px;">23</strong><br/>
                <span style="font-weight: 400;">Feb</span>
            </th>
            <td style="padding: 10px;">
                <span color="#555">Dandia Festival</span>
                <h2 style="margin:5px 0">Disco Dandia Night</h2>
                <table style="border-collapse: collapse; font-size: 10px; color: #555;">
                    <tr>
                        <td style="vertical-align: top">📅</td>
                        <td style="padding-left: 10px;">Monday 3rd October, 2020 15:20px & 11:00AM</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">📅</td>
                        <td style="padding-left: 10px;">Catch Up, 17th Cross Road, 6th Sector, <br/>HSR Layout, Bengaluru, Karnataka 560102</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #fafafa;  padding:2px 5px ;">Eksafar Club</td>
        </tr>
    </table>
