// Body
$body-bg: #f8fafc;
$primary: #05335c;

// Typography
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-rounded:  false;
//remove shadow
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$form-select-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
